@charset "utf-8";

body {
    color: #161616;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-image: url(gold_background.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}

#container {
	width: 768px;
	height: auto;
	background-color: rgba(255,255,255,1.00);
	margin: auto;
}

/*Float the Aside so it displays next to Main.*/
aside {
    width: 150px;
    height: 1600px;
    float: left;
    background-color: #646464;
}

header {
    width: 768px;
    height: 250px;
    background-image: url(header.svg);
}
/*Float the Main so it shows up next to the Aside. Reduce width by 150px so they both line header.*/
main {
    width: 568px;
    height: 1400px;
    float: left;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.floatleft {
    float: left;
}

article {
    margin-bottom: 50px;
}


h1 {
    color: #F06A6D;
    font-family: kigelia-lgc, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24pt;
}

p {
	font-family: canada-type-gibson,sans-serif;
	font-weight: 400;
	font-style: normal;
}

h3 {
    font-size: 12pt;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/*Clear the float so the footer shows up in the right place again.*/
footer {
    width: 768px;
    height: 50px;
    clear: both;
	background-color: #646464;
}
nav {
    width: 768px;
    height: 50px;
}
#container nav li {
    display: block;
    list-style-type: none;
    float: left;
    width: 50px;
    margin-right: 75px;
	font-family: neonoir, sans-serif;
	font-size: 18pt;
}
#container nav ul {
    margin: auto;
    width: 600px;
    padding-top: 10px;
}

nav a:link {
    color: #F06A6C;
    text-decoration: none;
	padding: 10px;
}
nav a:visited {
    text-decoration: none;
    color: #4F3272;
}
nav a:hover {
    text-decoration: none;
    color: #FFFFFF;
	background-color: #F06A6C;
	padding: 10px;
	border-radius: 20px;
}
nav a:active {
    text-decoration: none;
    color: #161616;
}
.submit_btn {
    width: 170px;
    height: 30px;
    background-color: #F06A6D;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;

}
.submit_btn:hover {
    -webkit-box-shadow: 6px 6px 35px 1px #000000;
    box-shadow: 6px 6px 35px 1px #000000;	
}
